<h1> <%= @list.name %></h1>

<% @movies.each do |movie| %>
  <p> <%= movie.title %> <%= movie.rating %> </p>
  <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
  <p> <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to delete #{movie.title} from #{@list.name}"} %> </p>
<% end %>

<p> <%= link_to 'Add movie', new_list_bookmark_path(@list) %> </p>
<p> <%= link_to 'Go back', lists_path %> </p>
