<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Add a movie to your <strong> <%= @list.name %> </strong> list:</h1>
      <%= simple_form_for [@list, @bookmark] do |b| %>
        <%= b.input :comment %>
        <%= b.association :movie %>
        <%= b.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to 'Go back', lists_path, class: 'btn btn-primary' %> </p>
    </div>
  </div>
</div>
